{% extends "mc/base.html" %}
{% load staticfiles %}

{% block title %}Инструкция{% endblock %}

{% block active-manual %}active{% endblock %}

{% block content %}
<main class="pl-4 pt-4 scroll">
  <h1>Руководство пользователя</h1>
  <ol class="ordered-list">
    <li class="list-item"><a href="#login">Вход в систему</a></li>
    <li class="list-item"><a href="#main">Главная страница</a></li>
    <li class="list-item"><a href="#pl">Управление плейлистами</a>
      <ol class="ordered-list">
        <li class="list-item"><a href="#pl_add">Добавление плейлистов</a></li>
        <li class="list-item"><a href="#pl_file_add">Добавление файлов</a></li>
        <li class="list-item"><a href="#pl_file_manage">Управление файлами</a></li>
        <li class="list-item"><a href="#pl_del">Удаление плейлистов</a></li>
        <li class="list-item"><a href="#pl_apply">Применение изменений</a></li>
      </ol>
    </li>
    <li class="list-item"><a href="#power">Управление питанием</a></li>
    <li class="list-item"><a href="#trouble">Возможные неисправности</a>
      <ol class="ordered-list">
        <li class="list-item"><a href="#trouble_enter">Невозможно войти в систему</a></li>
        <li class="list-item"><a href="#trouble_add">Невозможно добавить плейлист</a></li>
      </ol>
    </li>
    <li class="list-item"><a href="#support">Служба технической поддержки</a></li>
  </ol>
  <div class="mb-3">
    <h2><a name="login"></a>Вход в систему</h2>
    <img class="manual_img" src="{% static 'mc/img/manual/login_form.jpg' %}"/>
    <p>Заполните поля «Логин» и «Пароль». Нажмите кнопку «Войти»</p>
  </div>
  <div class="mb-3">
    <h2><a name="main"></a>Главная страница</h2>
    <p>На ней отображены экраны, подключенные к системе «Opteo»</p>
    <img class="manual_img" src="{% static 'mc/img/manual/main_page.jpg' %}"/>
    <p>В верхней части страницы расположены часы системы и кнопка выхода.</p>
    <p>Чтобы избежать несанкционированного доступа, выходите из системы каждый раз, после внесения изменений.</p>
  </div>
  <div class="mb-3">
    <h2><a name="pl"></a>Управление плейлистами</h2>
  </div>
  <div class="mb-3">
    <h3><a name="pl_add"></a>Добавление плейлистов</h3>
    <p>Нажмите кнопку "Добавить плейлист.</p>
    <img class="manual_img" src="{% static 'mc/img/manual/add_playlist.jpg' %}"/>
    <p>Под экраном откроются свойства добавленного плейлиста.</p>
    <img class="manual_img" src="{% static 'mc/img/manual/pl_prop.jpg' %}"/>
  </div>
  <div class="mb-3">
    <h3><a name="pl_file_add"></a>Добавление файлов</h3>
    <p>Нажмите на область для добавления файлов или перетащите файлы на неё.</p>
    <img class="manual_img" src="{% static 'mc/img/manual/add_file.jpg' %}"/>
    <p>Выберите один или несколько файлов(зажав на клавиатуре клавишу "Ctrl") и нажмите кнопку "Открыть". Для каждого плейлиста можно выбрать только определённый тип файлов - видео или изображения.</p>
    <img class="manual_img" src="{% static 'mc/img/manual/select_pic.jpg' %}"/>
    <p>Начнётся процесс загрузки файлов на устройства. Индикатор загрузки будет находиться справа от пиктограммы файла, пока он не будет загружен полностью.</p>
    <img class="manual_img" src="{% static 'mc/img/manual/progress.jpg' %}"/>
    <p>После завершения загрузки файлов они отображаются списком в плейлисте.</p>
    <img class="manual_img" src="{% static 'mc/img/manual/name_list.jpg' %}"/>
  </div>
  <div class="mb-3">
    <h3><a name="pl_file_manage"></a>Управление файлами</h3>
    <p>Для просмотра содержания файла, нажмите на "Глаз".</p>
    <img class="manual_img" src="{% static 'mc/img/manual/preview.jpg' %}"/>
    <p>Для одного монитора можно добавлять несколько плейлистов с разным временем начала. Выбор времени начала воспроизведения плейлиста указывается в пункте "Время начала плейлиста"</p>
    <img class="manual_img" src="{% static 'mc/img/manual/start_time.jpg' %}"/>
    <img class="manual_img" src="{% static 'mc/img/manual/datepicker.jpg' %}"/>
    <p>Для плейлистов с несколькими изображениями можно установить интервал смены изображений. По-умолчанию это 60 секунд.</p>
    <img class="manual_img" src="{% static 'mc/img/manual/show_interval.jpg' %}"/>
    <p>Порядок отображения файлов на экранах можно регулировать стрелками "Вверх" и "Вниз" или перетаскиванием за "=", а также удалять файлы из плейлистов кнопкой "Удалить".</p>
    <img class="manual_img" src="{% static 'mc/img/manual/files_order.jpg' %}"/>
  </div>
  <div class="mb-3">
    <h3><a name="pl_del"></a>Удаление плейлистов</h3>
    <p>Для удаления плейлиста нажмите на выбранном кнопку "Удалить плейлист".</p>
    <img class="manual_img" src="{% static 'mc/img/manual/pl_del.jpg' %}"/>
    <p>Если в плейлисте есть файлы, то будет выведено предупреждение о том, что при удалении текущего плейлиста все файлы в нём тоже будут удалены.</p>
    <img class="manual_img" src="{% static 'mc/img/manual/pl_warning.jpg' %}"/>
  </div>
  <div class="mb-3">
    <h3><a name="pl_apply"></a>Применение изменений</h3>
    <p>После того, как вы настроили все плейлисты, выставили необходимое время показа и интервал смены для изображений необходимо нажать кнопку "Сохранить изменения".</p>
    <img class="manual_img" src="{% static 'mc/img/manual/apply_changes.jpg' %}"/>
    <p>После нажатия запустится процесс копирования файлов на мониторы.</p>
    <img class="manual_img" src="{% static 'mc/img/manual/copy_files.jpg' %}"/>
    <p>Далее будет происходить процесс перезапуска мониторов для отображения созданных вами (или изменённых) плейлистов. По завершении процесса новое содержимое будет отображено на мониторах.</p>
    <img class="manual_img" src="{% static 'mc/img/manual/reboot.jpg' %}"/>
  </div>
  <div class="mb-3">
    <h2><a name="power"></a>Управление питанием</h2>
    <p>В верхнем правом углу панели управления находится кнопка настройки времени работы монитора.</p>
    <img class="manual_img" src="{% static 'mc/img/manual/power_btn.jpg' %}"/>
    <p>После нажатия на неё открывается меню настроек расписания работы мониторов.</p>
    <img class="manual_img" src="{% static 'mc/img/manual/power_menu.jpg' %}"/>
    <p>Здесь можно задать время включения и выключения мониторов. Возможно указать расписание для всех дней недели, введя время в графе "Все дни", либо задать расписание для каждого из дней недели, предварительно выбрав день недели в выпадающем списке.</p>
    <p>Указав все необходимые интервалы нажмите кнопку "Сохранить".</p>
    <p>Для удаления значений времени работы нажмите "Х" справа от необходимого дня недели.</p>
  </div>
  <div class="mb-3">
    <h2><a name="trouble"></a>Возможные неисправности</h2>
  </div>
  <div class="mb-3">
    <h3><a name="trouble_enter"></a>Невозможно войти в систему</h3>
    <p>При попытке ввода имени пользователя и пароля появляется ошибка, указывающая на некорректность введённых данных.</p>
    <p>Решение:</p>
    <p>1. Проверьте правильность вводимых данных об имени пользователя и пароля.<p/>
    <p>2. Проверьте, не нажата ли клавиша "Caps Lock" на вашей клавиатуре.</p>
    <p>3. Проверьте установленную раскладку на клавиатуре.</p>
    <p>4. Если вы забыли пароль - обратитесь в службу технической поддержки компании ООО "НТЦ-Старко".</p>
  </div>
  <div class="mb-3">
    <h3><a name="trouble_add"></a>Невозможно добавить плейлист</h3>
    <p>При попытке изменить содержимое мониторов некоторые из них закрыты серым фоном с надписью "Монитор недоступен!"</p>
    <img class="manual_img" src="{% static 'mc/img/manual/no_mon.jpg' %}"/>
    <p>Решение:</p>
    <p>1. Проверьте, подключён ли монитор кабелем к устройству, если нет - подключите.</p>
    <p>2. Проверьте включен ли сам монитор в сеть, если нет - подключите его к сети.</p>
    <p>3. Попробуйте вручную перезагрузить устройство, отключив шнур питания от сети и включив его обратно.</p>
    <p class="mb-3">4. Если ни одно из перечисленных действий не помогает - обратитесь в службу поддержки НТЦ "СтарКо".</p>
    <p>При попытке изменить содержимое мониторов некоторые из низ закрыты серым фоном с надписью "Устройство недоступно!"</p>
    <img class="manual_img" src="{% static 'mc/img/manual/no_host.jpg' %}"/>
    <p>Решение:</p>
    <p>1. Если устройство отображает текущее содержимое на экранах - попробуйте перезапустить его, отключив шнур питания от сети и включив его обратно.</p>
    <p>2. Если экраны ничего не отображают или указывают на отсутствие сигнала - вероятно, что устройство выключено. Включите его, вставив шнур питания в сеть.</p>
    <p>3. Если экраны отображают содержимое, но перезагрузка устройства не исправила ситуацию - скорее всего устройство не подключено к локальной сети, проверьте сетевой кабель. Гнездо сетевого кабеля должно попеременно мигать зелёным и оранжевым огнями, указывающими на то, что сеть подключена и устройство обменивается информацией.</p>
    <p>4. Если на экране отображаются протокол загрузки (строки белых букв и цифр на белом фоне) и само устройство не загружается попробуйте перезагрузить устройство, зажав на 5 и более секунд кнопку включения на его корпусе и после включите его этой же кнопкой.</p>
    <p>5. Если вышеперечисленное не помогает - обратитесь в службу технической поддержки НТЦ "СтарКо".</p>
  </div>
  <div class="mb-6">
    <h2><a name="support"></a>Служба технической поддержки</h2>
    <p>Телефон: +7 (495) 663-50-42</p>
    <p>Электронная почта: <a href="mailto:support@starko-group.ru">support@starko-group.ru</a></p>
  </div>
</main>
{% endblock %}
