<div id="surl_list">
  <div class="modal fade" id="radio" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title border-bottom-0">Выберите радиостанцию</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="radio_list" class="modal-body">
          <div class="radio-list-outer">
            <div class="radio-list scroll saved_urls"></div>
          </div>
          <div class="radio-add mt-4">
            <div class="form-group mb-0">
              <label class="col-form-label text-white">Добавьте радиостанцию</label>
              <div class="mb-2">
                <input type="text" class="form-control new_radio_name" placeholder="Название радио" name="radio_name">
              </div>
              <div class="input-group">
                <input type="text" class="form-control new_radio_url" placeholder="URL радио" name="radio_url">
                <div class="input-group-append">
                  <button class="btn btn-primary url_item_radio">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="video" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title border-bottom-0">Выберите видеопоток</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="video_list" class="modal-body">
          <div class="radio-list-outer">
            <div class="radio-list scroll saved_urls"></div>
          </div>
          <div class="radio-add mt-4">
            <div class="form-group mb-0">
              <label class="col-form-label text-white">Добавьте видеопоток</label>
              <div class="mb-2">
                <input type="text" class="form-control new_video_name" placeholder="Название видепотока" name="radio_name">
              </div>
              <div class="input-group">
                <input type="text" class="form-control new_video_url" placeholder="URL видеопотока" name="radio_url">
                <div class="input-group-append">
                  <button class="btn btn-primary url_item_video">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="url" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title border-bottom-0">Введите адрес сайта</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="site_list" class="modal-body">
          <div class="radio-add mt-4">
            <div class="form-group mb-0">
              <label class="col-form-label text-white">Добавьте URL</label>
              <div class="mb-2">
                <input type="text" class="form-control new_site_name" placeholder="Название сайта" name="site_name">
              </div>
              <div class="input-group">
                <input type="text" class="form-control new_site_url" placeholder="URL сайта" name="site_url">
                <div class="input-group-append">
                  <button class="btn btn-primary url_item_site">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--                    SPOT                      -->
  <div class="modal fade" id="script" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title border-bottom-0">Введите скрипт</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="site_list" class="modal-body">
          <div class="radio-add mt-4">
            <div class="form-group mb-0">
              <label class="col-form-label text-white">Добавьте скрипт</label>
              <!--div class="mb-2">
                <input type="text" class="form-control new_script_code" placeholder="Код скрипта" name="sсript_code">
              </div-->
              <div class="input-group">
                <input type="text" class="form-control new_script_code" placeholder="Код скрипта" name="sсript_code">
                <div class="input-group-append">
                  <button class="btn btn-primary script_item_site">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>