html {
	padding: 0;
	margin: 0;
	background: no-repeat url(../img/login_bg.jpg) #017eb6;
	text-align: center;
	color: white;
}

.license {
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: large;
}

input[name="new_key"]{
	width: 400px;
}

.uuid {
	background-color: white;
	color: black;
	width: 400px;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 3px;
}